.login #header {
    height: auto;
    padding: 5px 16px;
}

.login {
    border: 1px solid #eaeaea;
    border-radius: 4px;
    overflow: hidden;
    width: 28em;
    min-width: 300px;
    margin: 100px auto;
    padding: 5px 16px;
}

.login #button-container {
    padding: 5px;
}
