<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Blog{% endblock %}</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto+Slab|Playfair+Display" rel="stylesheet">
</head>
<body>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'blog_app/style.css' %}">

    <nav class="navbar">
        <a href="{% url 'all' %}">Все блоги</a>
        {% if user_profile %}
            <a href="{% url 'feed' %}">Лента</a>
            <a href="{% url 'blog' user_profile.pk %}">Мой блог</a>
            <a href="{% url 'following' user_profile.pk %}">Управление подписками</a>
            <a href="{% url 'logout' %}">Выйти</a>
        {% else %}
            <a href="{% url 'login' %}">Войти</a>
        {% endif %}
    </nav>

    <div class="blog-container">
        {% block header_content %}{% endblock %}
        <main>
            {% block main_content %}{% endblock %}
        </main>
    </div>
</body>
</html>
