{% extends "blog_app/base.html" %}

{% block title %}Блог{% endblock %}

{% block header_content %}
<header class="userinfo-header">
    <div class="username-container" id="blog-userfullname">{{ user_info.full_name }}</div>
    <div id="blog-postcount">Всего постов: {{ user_info.postcount }}</div>
    <div class="author-container" id="blog-username">@{{ user_info.username }}</div>
    <div id="blog-subscribe-button">subscribe button</div>
</header>
{% endblock %}

{% block main_content %}
    {% for post in posts %}
        <div class="post-container">
            <a href="{% url 'post_detail' post.pk %}">
                <h1 class="post-caption">{{ post.caption }}</h1></a>
            <div class="content-container">
                <span class="post-content">{{ post.content_text|linebreaks }}</span>
            </div>
            <div class="post-footer">
                <div class="date-container">{{ post.pub_date }}</div>
            </div>
        </div>
    {% endfor %}
{% endblock %}
