<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Post delete confirmation</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto+Slab|Playfair+Display" rel="stylesheet">
</head>
<body>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'blog_app/style.css' %}">

    <form method="post">{% csrf_token %}
        <div class="blog-container">
            <p>Вы действительно хотите удалить пост?</p>
            <div class="post-container">
                <h1 class="post-caption">{{ object.caption }}</h1>
                <div class="content-container">
                    <span class="post-content">{{ object.content_text|linebreaks }}</span>
                </div>
                <div class="post-footer">
                    <div class="date-container">{{ object.pub_date }}</div>
                </div>
            </div>
            <input type="submit" value="Удалить">
        </div>
    </form>
</body>
</html>
