<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Post edit</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto+Slab|Playfair+Display" rel="stylesheet">
</head>
<body>
    <main>
        {% load static %}
        <link rel="stylesheet" type="text/css" href="{% static 'blog_app/style.css' %}">

        <div class="post-container">
            <form method="post">
                {% csrf_token %}
                <div class="form-caption-container">
                    <label for="{{ form.caption.id_for_label }}">Заголовок:</label><br>
                    {{ form.caption.errors }}
                    {{ form.caption }}
                </div>
                <div class="form-content-text-container">
                    <label for="{{ form.content_text.id_for_label }}">Текст поста:</label><br>
                    {{ form.content_text.errors }}
                    {{ form.content_text }}
                </div>
                <input type="submit" value="Сохранить">
            </form>
        </div>
    </main>
</body>
</html>
