{% extends "blog_app/base.html" %}

{% block title %}Пост{% endblock %}

{% block main_content %}
    <div class="post-container">
        <h1 class="post-caption">{{ post.caption }}</h1>
        <div class="content-container">
            <span class="post-content">{{ post.content_text|linebreaks }}</span>
        </div>
        <div class="post-footer">
            <div class="date-container">{{ post.pub_date }}</div>
            <div class="author-container">
                @{{ post.author.user.username }} ({{ post.author.user.get_full_name }})
            </div>
        </div>
    </div>
{% endblock %}
